<phpunit
  beStrictAboutChangesToGlobalState="true"
  beStrictAboutOutputDuringTests="true"
  beStrictAboutTestsThatDoNotTestAnything="true"
  bootstrap="tests/phpunit/includes/bootstrap.php"
  checkForUnintentionallyCoveredCode="true"
  colors="true"
  forceCoversAnnotation="true"
>
  <testsuites>
    <testsuite name="plugin">
      <directory suffix="-test.php">tests/phpunit/src</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist processUncoveredFilesFromWhitelist="false">
      <directory suffix=".php">src</directory>
      <directory suffix=".php">vendor/johnpbloch/wordpress-core</directory>
      <exclude>
        <file>src/lib/compat.php</file>
        <directory suffix=".php">src/lib/compat</directory>
        <directory suffix=".php">vendor/johnpbloch/wordpress-core</directory>
      </exclude>
    </whitelist>
  </filter>

  <logging>
    <log type="coverage-clover" target="tests/phpunit/coverage/clover.xml"/>
    <log type="coverage-html" target="tests/phpunit/coverage" lowUpperBound="40" highLowerBound="80"/>
  </logging>
</phpunit>
