@-moz-keyframes thanks {
	0%   { color: #00acdc; }
	25%  { color: #cadb2a; }
	50%  { color: #f68a1f; }
	75%  { color: #b72367; }
	100% { color: #00acdc; }
}

@-ms-keyframes thanks {
	0%   { color: #00acdc; }
	25%  { color: #cadb2a; }
	50%  { color: #f68a1f; }
	75%  { color: #b72367; }
	100% { color: #00acdc; }
}

@-o-keyframes thanks {
	0%   { color: #00acdc; }
	25%  { color: #cadb2a; }
	50%  { color: #f68a1f; }
	75%  { color: #b72367; }
	100% { color: #00acdc; }
}

@-webkit-keyframes thanks {
	0%   { color: #00acdc; }
	25%  { color: #cadb2a; }
	50%  { color: #f68a1f; }
	75%  { color: #b72367; }
	100% { color: #00acdc; }
}

@keyframes thanks {
	0%   { color: #00acdc; }
	25%  { color: #cadb2a; }
	50%  { color: #f68a1f; }
	75%  { color: #b72367; }
	100% { color: #00acdc; }
}

@-moz-keyframes fadein {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}

@-ms-keyframes fadein {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}

@-o-keyframes fadein {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}

@-webkit-keyframes fadein {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes fadein {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}

.updated.webcomic {
	-moz-animation: fadein 1.5s;
	-ms-animation: fadein 1.5s;
	-o-animation: fadein 1.5s;
	-webkit-animation: fadein 1.5s;
	animation: fadein 1.5s;
	background: none;
	border: 0;
	border-radius: 0;
}

.updated.webcomic a {
	background: -moz-linear-gradient( #fff, #eee );
	background: -ms-linear-gradient( #fff, #eee );
	background: -o-linear-gradient( #fff, #eee );
	background: -webkit-linear-gradient( #fff, #eee );
	background: linear-gradient( #fff, #eee );
	border-radius: .5em;
	border-style: solid;
	border-width: 0 thin thick;
	box-shadow: 0 .12em .25em rgba( 0, 0, 0, .25 );
	color: #00acdc;
	display: inline-block;
	font: 200%/2.5 'Maven Pro', sans-serif;
	padding: 0 1em;
	position: relative;
	text-shadow: 0 .1em .1em #fff;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

.updated.webcomic a:focus,
.updated.webcomic a:hover {
	-moz-animation: thanks 4s infinite;
	-ms-animation: thanks 4s infinite;
	-o-animation: thanks 4s infinite;
	-webkit-animation: thanks 4s infinite;
	animation: thanks 4s infinite;
}

.updated.webcomic a:active {
	-moz-transform: scale( .95 );
	-ms-transform: scale( .95 );
	-o-transform: scale( .95 );
	-webkit-transform: scale( .95 );
	transform: scale( .95 );
}


.updated.webcomic b,
.updated.webcomic b:after,
.updated.webcomic b:before {
	bottom: .25em;
	content: '\2764';
	color: #b72367;
	display: block;
	font-size: larger;
	font-style: normal;
	left: -.5em;
	position: absolute;
	text-shadow: none;
	-moz-transform: rotate( 10deg );
	-ms-transform: rotate( 10deg );
	-o-transform: rotate( 10deg );
	-webkit-transform: rotate( 10deg );
	transform: rotate( 10deg );
}

.updated.webcomic b:before {
	color: #cadb2a;
	font-size: 65%;
	bottom: -.75em;
	left: .25em;
}

.updated.webcomic b:after {
	color: #f68a1f;
	font-size: 75%;
	bottom: -.25em;
	left: .9em;
	-moz-transform: rotate( -20deg );
	-ms-transform: rotate( -20deg );
	-o-transform: rotate( -20deg );
	-webkit-transform: rotate( -20deg );
	transform: rotate( -20deg );
}

.updated.webcomic a:hover b,
.updated.webcomic a:hover b:after,
.updated.webcomic a:hover b:before {
	color: inherit;
}

.updated.webcomic.legacy b:after,
.updated.webcomic.legacy b:before {
	content: '\2605';
}

.updated.webcomic.legacy b:after {
	bottom: -.5em;
}

.updated.webcomic.legacy b:before {
	bottom: -1.15em;
	left: .5em;
}