body {
	margin: .5em;
}

div {
	margin: .5em;
}

li {
	float: left;
	margin: .5em;
	text-align: right;
}

b {
	background: rgba( 0, 0, 0, .05 );
	box-shadow: 0 0 1em 0 rgba( 0, 0, 0, .1 ) inset;
	display: block;
	height: 10em;
	line-height: 10em;
	outline: thin solid rgba( 0, 0, 0, .2 );
	overflow: hidden;
	text-align: center;
	width: 10em;
}

img {
	vertical-align: middle;
}

li a {
	background: url( ../img/media-actions.png ) no-repeat;
    display: inline-block;
	margin: 0 0 0 .25em;
	height: 24px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
	width: 24px;
}

li a + a {
	background-position: -24px 0;
}

li a:focus,
li a:hover {
	background-position: 0 -24px;
}

li a + a:focus,
li a + a:hover {
	background-position: -24px -24px;
}

hr {
	border: 0;
	border-bottom: thin solid rgba( 0, 0, 0, .2 );
}