#media-upload {
	background: #eee;
	margin: .5em;
}

div {
	margin: .5em;
}

li {
	background: #fff;
	box-shadow: 0 .1em .2em rgba( 0, 0, 0, .1 );
	float: left;
	margin: .5em;
	padding: .5em;
}

a {
	border-top: thin solid #fff;
	color: #444;
	display: block;
	padding: .25em;
	text-decoration: none;
}

a:focus,
a:hover {
	background: #444;
	color: #fff;
}

b {
	background: rgba( 0, 0, 0, .05 );
	box-shadow: 0 0 1em 0 rgba( 0, 0, 0, .1 ) inset;
	display: block;
	height: 10em;
	line-height: 9em;
	outline: thin solid rgba( 0, 0, 0, .2 );
	overflow: hidden;
	text-align: center;
	width: 10em;
}

img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}